<div class="contentco">



        <div class="contcoleft">
                <div class="item">
                        <h1>Vapelab video</h1>
                </div>
                <div class="item">
                        <h1>CryptoCubed video</h1>
                </div>
                <div class="item">
                        <h1>deRail video</h1>        
                </div>
                
        </div>




        <div class="contcoright" >
                <div class="item">
                        <h2>Vapelab</h2>
                        <p>Internet shop for vaporizers and liquid</p>
                        <div class="taglist">
                                <ul>
                                        <li><div class="tag"><a>opencart custom theme</a></div></li>  
                                        <li><div class="tag"><a>php</a></div></li>  
                                        <li><div class="tag"><a>css</a></div></li>  
                                </ul>
                        </div>
                </div> 


                <div class="item">
                        <h2>CryptoCubed</h2>
                        <p>Cryptocurrency trading advice , signal listing</p>
                        <div class="taglist">
                                <ul>
                                        <li><div class="tag"><a>sql</a></div></li>  
                                        <li><div class="tag"><a>php</a></div></li>  
                                        <li><div class="tag"><a>css</a></div></li>  
                                </ul>
                        </div>
                </div>


                <div class="item">
                        <h2>Derail</h2>
                        <p>Web developer portfolio</p>
                        <div class="taglist">
                                <ul>
                                        <li><div class="tag"><a>angular</a></div></li>  
                                        <li><div class="tag"><a>typescript</a></div></li>  
                                        <li><div class="tag"><a>css</a></div></li>  
                                </ul>
                        </div>
                </div>
        </div>

</div>


