<div class="contentco">

        <div class="item">
                <div class="lapcont">
                        <video autoplay muted loop>
                                <source src="./assets/DRv2Main.mp4" type="video/mp4">
                        </video>
                </div>
        </div>
        <div class="item2">
                <div class="txtwrp">
                        <h2>deRail porfolio v2</h2>
                        <p>New porfolio site made in react</p>
                        <div class="taglist">
                                <ul>
                                        <li>
                                                <div class="tag">
                                                        <a>React.js</a>
                                                </div>
                                        </li>
                                        <li>
                                                <div class="tag">
                                                        <a>Javascript</a>
                                                </div>
                                        </li>
                                        <li>
                                                <div class="tag">
                                                        <a>Bootstrap</a>
                                                </div>
                                        </li>
                                        <li>
                                                <div class="tag">
                                                        <a>Firebase</a>
                                                </div>
                                        </li>
                                </ul>
                        </div>

                        <div class="iconwrap">
                                <a href="http://www.derail.lt/demo/derailv2" target="_blank">
                                        <i class="fa fa-eye fa-3x ic" aria-hidden="true"></i>
                                </a>
                                <a href="https://github.com/Vabalokis/react-portfolio" target="_blank">
                                        <i class="fa fa-github fa-3x ic" aria-hidden="true"></i>
                                </a>


                        </div>

                </div>
        </div>



        <div class="item">
                <div class="lapcont">
                        <video autoplay muted loop>
                                <source src="./assets/CCmain.mp4" type="video/mp4">
                        </video>
                </div>
        </div>
        <div class="item2">
                <div class="txtwrp">
                        <h2>CryptoCubed</h2>
                        <p>Cryptocurrency trading advice and signal listing subscribtion service.</p>
                        <div class="taglist">
                                <ul>
                                        <li>
                                                <div class="tag">
                                                        <a>MySQL</a>
                                                </div>
                                        </li>
                                        <li>
                                                <div class="tag">
                                                        <a>PHP</a>
                                                </div>
                                        </li>
                                        <li>
                                                <div class="tag">
                                                        <a>CSS</a>
                                                </div>
                                        </li>
                                        <li>
                                                <div class="tag">
                                                        <a>Javascript</a>
                                                </div>
                                        </li>
                                </ul>
                        </div>

                        <div class="iconwrap">
                                <a href="http://www.derail.lt/demo/cryptocubed" target="_blank">
                                        <i class="fa fa-eye fa-3x ic" aria-hidden="true"></i>
                                </a>
                                <a href="https://github.com/Vabalokis/cryptocubed" target="_blank">
                                        <i class="fa fa-github fa-3x ic" aria-hidden="true"></i>
                                </a>


                        </div>

                </div>
        </div>



        <div class="item">
                <div class="lapcont">
                        <video autoplay muted loop>
                                <source src="./assets/BJDmain.mp4" type="video/mp4">
                        </video>
                </div>
        </div>
        <div class="item2">
                <div class="txtwrp">
                        <h2>Blackjack duel</h2>
                        <p>Blackjack multiplayer duel game with live chat</p>
                        <div class="taglist">
                                <ul>
                                        <li>
                                                <div class="tag">
                                                        <a>Node.js</a>
                                                </div>
                                        </li>
                                        <li>
                                                <div class="tag">
                                                        <a>Socket.io</a>
                                                </div>
                                        </li>
                                </ul>
                        </div>

                        <div class="iconwrap">
                                <a href="https://hidden-caverns-22423.herokuapp.com" target="_blank">
                                        <i class="fa fa-eye fa-3x ic" aria-hidden="true"></i>
                                </a>
                                <a href="https://github.com/Vabalokis/blackjack-duel" target="_blank">
                                        <i class="fa fa-github fa-3x ic" aria-hidden="true"></i>
                                </a>
                        </div>


                </div>
        </div>


        <div class="item">
                <div class="lapcont">
                        <video autoplay muted loop>
                                <source src="./assets/OCmain.mp4" type="video/mp4">
                        </video>
                </div>
        </div>
        <div class="item2">
                <div class="txtwrp">
                        <h2>Vapelab</h2>
                        <p>Online shop specializing in the selling of electronic cigarette products.</p>
                        <div class="taglist">
                                <ul>
                                        <li>
                                                <div class="tag">
                                                        <a>Opencart custom theme</a>
                                                </div>
                                        </li>
                                        <li>
                                                <div class="tag">
                                                        <a>PHP</a>
                                                </div>
                                        </li>
                                        <li>
                                                <div class="tag">
                                                        <a>CSS</a>
                                                </div>
                                        </li>
                                </ul>
                        </div>

                        <div class="iconwrap">
                                <a>
                                        <i class="fa fa-eye fa-3x ic inactive" aria-hidden="true"></i>
                                </a>
                                <a href="https://github.com/Vabalokis/vapelabopencarttheme" target="_blank">
                                        <i class="fa fa-github fa-3x ic" aria-hidden="true"></i>
                                </a>
                        </div>
                </div>
        </div>



        <div class="item">
                <div class="lapcont">
                        <video autoplay muted loop>
                                <source src="./assets/DRmain.mp4" type="video/mp4">
                        </video>
                </div>
        </div>

        <div class="item2">
                <div class="txtwrp">
                        <h2>Derail</h2>
                        <p>My web developer's portfolio</p>
                        <div class="taglist">
                                <ul>
                                        <li>
                                                <div class="tag">
                                                        <a>Angular</a>
                                                </div>
                                        </li>
                                        <li>
                                                <div class="tag">
                                                        <a>Typescript</a>
                                                </div>
                                        </li>
                                        <li>
                                                <div class="tag">
                                                        <a>CSS</a>
                                                </div>
                                        </li>
                                </ul>
                        </div>

                        <div class="iconwrap">
                                <a>
                                        <i class="fa fa-eye fa-3x ic inactive" aria-hidden="true"></i>
                                </a>
                                <a href="https://github.com/Vabalokis/angularweb" target="_blank">
                                        <i class="fa fa-github fa-3x ic" aria-hidden="true"></i>
                                </a>
                        </div>

                </div>
        </div>




        <div class="item">
                <div class="lapcont">
                        <video autoplay muted loop>
                                <source src="./assets/BJmain.mp4" type="video/mp4">
                        </video>
                </div>
        </div>
        <div class="item2">
                <div class="txtwrp">
                        <h2>Blackjack</h2>
                        <p>Singleplayer blackjack game against the dealer</p>
                        <div class="taglist">
                                <ul>
                                        <li>
                                                <div class="tag">
                                                        <a>Javascript</a>
                                                </div>
                                        </li>
                                        <li>
                                                <div class="tag">
                                                        <a>Jquery</a>
                                                </div>
                                        </li>
                                </ul>
                        </div>

                        <div class="iconwrap">
                                <a href="http://www.derail.lt/demo/blackjack" target="_blank">
                                        <i class="fa fa-eye fa-3x ic" aria-hidden="true"></i>
                                </a>
                                <a href="https://github.com/Vabalokis/blackjack" target="_blank">
                                        <i class="fa fa-github fa-3x ic" aria-hidden="true"></i>
                                </a>
                        </div>


                </div>
        </div>


        <div class="item">
                <div class="lapcont">
                        <video autoplay muted loop>
                                <source src="./assets/ADmain.mp4" type="video/mp4">
                        </video>
                </div>
        </div>
        <div class="item2">
                <div class="txtwrp">
                        <h2>Choose your adventure</h2>
                        <p>Choose your own adventure game</p>
                        <div class="taglist">
                                <ul>
                                        <li>
                                                <div class="tag">
                                                        <a>Javascript</a>
                                                </div>
                                        </li>
                                        <li>
                                                <div class="tag">
                                                        <a>TreeModel</a>
                                                </div>
                                        </li>
                                </ul>
                        </div>

                        <div class="iconwrap">
                                <a href="http://www.derail.lt/demo/adventure" target="_blank">
                                        <i class="fa fa-eye fa-3x ic" aria-hidden="true"></i>
                                </a>
                                <a href="https://github.com/Vabalokis/choose-your-adventure" target="_blank">
                                        <i class="fa fa-github fa-3x ic" aria-hidden="true"></i>
                                </a>
                        </div>


                </div>
        </div>


        <div class="item">
                <div class="lapcont">
                        <video autoplay muted loop>
                                <source src="./assets/BJnewmain.mp4" type="video/mp4">
                        </video>
                </div>
        </div>
        <div class="item2">
                <div class="txtwrp">
                        <h2>Blackjack es6</h2>
                        <p>Singleplayer blackjack game remake without jquery</p>
                        <div class="taglist">
                                <ul>
                                        <li>
                                                <div class="tag">
                                                        <a>Javascript es6</a>
                                                </div>
                                        </li>
                                </ul>
                        </div>

                        <div class="iconwrap">
                                <a href="http://www.derail.lt/demo/blackjackes6" target="_blank">
                                        <i class="fa fa-eye fa-3x ic" aria-hidden="true"></i>
                                </a>
                                <a href="https://github.com/Vabalokis/blackjack-es6" target="_blank">
                                        <i class="fa fa-github fa-3x ic" aria-hidden="true"></i>
                                </a>
                        </div>


                </div>
        </div>


        <div class="item">
                <div class="lapcont">
                        <video autoplay muted loop>
                                <source src="./assets/CSMain.mp4" type="video/mp4">
                        </video>
                </div>
        </div>
        <div class="item2">
                <div class="txtwrp">
                        <h2>Comment system</h2>
                        <p>Comment system with ajax</p>
                        <div class="taglist">
                                <ul>
                                        <li>
                                                <div class="tag">
                                                        <a>PHP</a>
                                                </div>
                                        </li>
                                        <li>
                                                <div class="tag">
                                                        <a>AJAX</a>
                                                </div>
                                        </li>
                                        <li>
                                                <div class="tag">
                                                        <a>Bootstrap</a>
                                                </div>
                                        </li>
                                        <li>
                                                <div class="tag">
                                                        <a>MySQL</a>
                                                </div>
                                        </li>
                                </ul>
                        </div>

                        <div class="iconwrap">
                                <a href="http://www.derail.lt/demo/comment_system" target="_blank">
                                        <i class="fa fa-eye fa-3x ic" aria-hidden="true"></i>
                                </a>
                                <a href="https://github.com/Vabalokis/comment_system" target="_blank">
                                        <i class="fa fa-github fa-3x ic" aria-hidden="true"></i>
                                </a>


                        </div>

                </div>
        </div>


</div>