<div class="contactgrid">

    <div id="map"></div>

    <div class="infocont">
    <h2>Personal information</h2>
    <ul>
      <li>
          <div class="taginfo"><p class="tel">+37060395541</p></div>
      </li>
      <li>
          <div class="taginfo">vabalokis@yahoo.com</div> 
      </li>
    </ul>          
    </div>


    <div class="formcont">
      <h2>Contact form</h2>
      <form>
        <ul>
          <li>NAME<input type="text"></li>
          <li>EMAIL<input type="text"></li>
          <li>MESSAGE<textarea name="message" rows="6" cols="53"></textarea></li>
          <li><input type="submit" value="SEND"></li>
        </ul> 
      </form>
    </div>

</div>